<!DOCTYPE html>
<html lang="en-us" dir="ltr" data-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q7JHDPQP54"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Q7JHDPQP54');
    </script>

    {{ block "head" . }}{{ end }}
</head>
<body data-theme="dark">
    {{ block "main" . }}{{ end }}
</body>
</html>
